@media screen and (max-width : 768px) {

.logo-text {

	display: none;

}

.preloader .center img {

	width: 100px;

}

.about-item-listbox {

	grid-template-columns: auto;

} 

.prodies .prodi-item img { 

	max-width: 100%;

	height: auto; 

}



h1 {

	font-size: 32px;

	line-height: 38px;

}

h2 {

	font-size: 20px; 

	line-height: 26px; 

}

.header-title i {

	display: block;

	margin-bottom: 8px;

}



.navbar .navbar-brand .navbar-link {

	padding-bottom: 0px;

}



.news .item.item-sm {

	grid-template-columns: auto; 

}

.gallery .gallery-items { 

	grid-template-columns: auto; 

}

.prodi-item {

	box-sizing: border-box;

}

.prodi-item h2 {

	font-size: 18px;

	line-height: 1.2;

}

.embed-container {
    position: relative;
    /* padding-bottom: 56.25%; */
	padding-bottom: 100%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}


.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


}