:root {
	--blue: #34bfb3;
	--red: #61172b;
	--yellow: #c801fa;
	--gray: #808080;
	--light: #eee;
	--black: #333;
	--font-1: 'Sansita', sans-serif;
	--font-2: 'DM Sans', sans-serif;
	--dist: 8px; 
}